body{
	background-color: #fff;
	margin: 0px;
	color: #000;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

#header{
	position: fixed;
	top: 0;
	left: 0;
	margin: 0px;
	width: 100%;
	height: 60px;
	background-color: #222;
	z-index: 100;
}

#logo{
	width: 300px;
	height: 26px;
	margin: 5px 10px 10px 10px;
	float: left;
}

a.logo{
	text-decoration: none;
	color: #fff;
	font-family: 'BauhausRegular', Helvetica, Arial, sans-serif;
	font-size: 36px;
}

#sublogo{
	clear: left;
	color: #666;
	margin: 10px;
	font-family: 'DINMediumRegular', Helvetica, Arial, sans-serif;
	font-size: 10px; 
}

a.sublogo{
	text-decoration: none;
	color: #666;
}

#menubutton{
	position: fixed;
	top: 20px;
	right: 10px;
}

#menubutton a{
	outline: 0;
}

#menu{
	display: none;
	position: fixed;
	top: 60px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	/* hack to hide leftover spice on the right side */
	background: #333333; /* Old browsers */
	background: -moz-linear-gradient(left, #333333 0%, #333333 90%, #222222 100%, #222222 100%, #222222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#333333), color-stop(90%,#333333), color-stop(100%,#222222), color-stop(100%,#222222), color-stop(100%,#222222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #333333 0%,#333333 90%,#222222 100%,#222222 100%,#222222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #333333 0%,#333333 90%,#222222 100%,#222222 100%,#222222 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #333333 0%,#333333 90%,#222222 100%,#222222 100%,#222222 100%); /* IE10+ */
	background: linear-gradient(to right, #333333 0%,#333333 90%,#222222 100%,#222222 100%,#222222 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=1 ); /* IE6-9 */
}





/* SUBMENU TITLES */

#menutitles {
	float: left;
	clear: both;
	width: 100%;
	height: 31px;
	background-color: #333;
	border-bottom: 1px #222 solid;
}
.menutitle{
	float: left;
	display: block;
	width: 49%;
	max-width: 49%;
	border-right: 1px #222 solid;
	color: #fff;
	background-color:#333;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
}
.menutitletext{
	float: left;
	clear: both;
	width: 100%;
	margin: 10px 0 10px 10px;
}
#tweetmenutitle{
	display: none;
}
#tagmenutitle{
	display: none;
}
#postmenutitle{

}
#mainmenutitle{
	border-right: none;
}





/* SUB MENU GENERIC CLASSES */

.submenu{
	float: left;
	display: block;
	max-width: 49%;
	margin-right: 1px;
	height: 100%;
	background-color:#222;
	overflow: scroll;
}
.submenu::-webkit-scrollbar {
    width: 0px;
}
.submenu a{
	text-decoration: none;
	border: none;
}
.submenuitem{
	float: left;
	clear: both;
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px #333 solid;
	vertical-align:middle;
}
.submenuitem:hover{
	cursor:pointer;
	background-color: #333;
}
.submenuitem:hover .submenutext{
	color:#fff;
}
.submenutext{
	display: inline-block;
    vertical-align: middle;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-size: 10px;
    line-height: 11px;
	font-weight: 500;
	color: #ccc;
	text-decoration: none;
	margin: 10px;
	max-height: 34px;
	overflow: hidden;
}
.submenubottom{
	float: left;
	height: 100px;
	clear: both;
}



/* SUB MENU MODIFIERS */

.tagmenuitem{
	height: 51px;
	line-height: 51px;
	border-bottom: none;
}
.tagmenutext{
	font-family: 'DINLightRegular', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: 100;
	color: #fff;
	text-transform: uppercase;
	white-space: nowrap;
}
.tagnum {
	color: #666;
}
#tweetmenu{
	display: none;
}
#tagmenu{
	display: none;
}
#mainmenu{
	width: 50%;
	margin-right: 0;
}
.mainmenuitem{
	height: 51px;
	line-height: 51px;
	border-bottom: none;
}
.mainmenutext{
	font-family: 'DINMediumRegular', Helvetica, Arial, sans-serif;
	font-size: 30px;
	line-height: 31px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-align: right;
}










hr {
	border-width: 0px;
	background-color: #333;
	height: 1px;
	margin: 0px;
}

#entries{
	margin-top: 60px;
}

div.entry{

}

div.entrypreview {
	float: left;
	width: 100%;
	height: 250px;
}

div.entrypreview a {
	text-decoration: none;
}

div.entrypreviewdate{
	margin-left: 10px;
	padding-bottom: 10px;
	font-family: 'DINMediumRegular', Helvetica, Arial, sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
}

div.entryabstract {
	margin: 0 10px 0 10px;	
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #fff;
}

div.entrytitle{
	position: relative;
	width: 100%;	
	height: 100%;
}

div.entrytitleimg{
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	/*opacity: 0.5;*/
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  	filter: gray; /* IE6-9 */
  	-webkit-filter: grayscale(1); /* Chrome 19+ & Safari 6+ */
  	z-index: -1;
}

div.entrytitletext{
	margin: 0 10px 10px 10px;
	padding-top: 10px;
	font-size: 36px;
	font-family: 'DINMediumRegular', Helvetica, Arial, sans-serif;
	font-weight: 700;
	line-height: 1.1em;
	color: #fff;
}

div.entrydate{
	margin-left: 10px;
	padding-bottom: 10px;
	font-family: 'DINMediumRegular', Helvetica, Arial, sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
}

div.entrybody p{
	margin: 10px 10px 14px 10px;	
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

div.entrybody img{
	width: 100%;
}

div.entrybody a{
	text-decoration: none;
	color: #999;
}

div.entrybody a:hover{
	text-decoration: underline;
}

div.slideshow{
	position: relative;
	width: 100%;
	height: 100%;
	clear: both;
}

img.slide{
	position: absolute;
	width: 100%;
	height: auto;
	left:0;
	top:0;
}

div.tags{
	margin: 10px 10px 14px 10px;
}

div.tags a{
	text-decoration: none;		
}

div.tags a:hover{
	text-decoration: underline;		
}

p.caption{
	color: #999;
	font-size: 10px;
}

div.share{
	display: block;
	margin-left: 10px;
	margin-bottom: 80px;
}

div.sharebutton{
	float: left;
	margin-right: 10px;
}

div.sharebutton img{
	width: 32px;
	height: 32px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}























@media only screen and (min-width: 480px) {

	/* menu titles */
	.menutitle{
		width: 33%;
	}
	#tagmenutitle{
		display: block;
	}

	/* menus */
	.submenu{
		width: 33%;
	}
	#tagmenu{
		display: block;
	}
	#mainmenu{
		width: 32%;
	}

	/* entries */
	div.entrypreview {
		width: 50%;
	}
	div.share{
		margin-bottom: 120px;
	}
}

@media only screen and (min-width: 720px) {

	/* menus */
	.mainmenutext{
		font-size: 36px;
		line-height: 36px;
	}
	.tagmenutext{
		font-size: 24px;
		line-height: 24px;
	}

	/* entries */
	div.entrypreview {
		width: 33.33%;
	}
	div.entrydate{
		font-size: 14px;
	}
	div.entrybody{
		font-size: 18px;
	}
	p.caption{
		font-size: 14px;
	}
	div.tags {
		font-size: 18px;		
	}
	div.share{
		margin-bottom: 180px;
	}
	div.sharebutton img{
		width: 48px;
		height: 48px;
	}
}

@media only screen and (min-width: 960px) {

	/* menu titles */
	.menutitle{
		width: 25%;
	}
	#tweetmenutitle{
		display: block;
	}
	#mainmenutitle{
		width: 24%;
	}

	/* menus */
	.submenu{
		width: 25%;
	}
	#tweetmenu{
		width: 25%;
		display: block;
	}
	#mainmenu{
		width: 24%;
	}
}


@media only screen and (min-width: 1080px) {
	
	/* menus */
	.submenuitem {
		height: 60px;
		line-height: 60px;
	}
	.submenutext {
		font-size: 14px;
		line-height: 16px;
		max-height: 34px;
	}
	.mainmenuitem{
		height: 61px;
		line-height: 61px;
	}
	.mainmenutext{
		max-height: 50px;
		font-size: 42px;
		line-height: 42px;
	}
	.tagmenuitem{
		height: 61px;
		line-height: 61px;
	}
	.tagmenutext{
		max-height: 50px;
		font-size: 24px;
		line-height: 24px;
	}

	/* entries */
	div.entrypreview {
		width: 20%;
	}
	div.entrydate{
		font-size: 18px;
	}
	div.entrybody{
		font-size: 22px;
	}
	p.caption{
		font-size: 18px;
	}
	div.tags {
		font-size: 22px;
		margin: 10px 10px 20px 10px;		
	}
	div.share{
		margin-bottom: 240px;
	}
	div.sharebutton img{
		width: 64px;
		height: 64px;
	}
}

@media only screen and (min-width: 1280px) {

	/* menus */
	.submenuitem {
		height: 100px;
		line-height: 100px;
	}
	.submenutext {
		font-size: 18px;
		line-height: 20px;
		max-height: 80px;
	}
	.mainmenuitem{
		height: 101px;
		line-height: 101px;
	}
	.mainmenutext{
		max-height: 80px;
		font-size: 60px;
		line-height: 60px;
	}
	.tagmenuitem{
		height: 101px;
		line-height: 101px;
	}
	.tagmenutext{
		max-height: 80px;
		font-size: 36px;
		line-height: 36px;
	}

	/* entries */
	div.entrydate{
		font-size: 24px;
	}
	div.entrybody{
		font-size: 32px;
	}
	div.entrybody p{
		margin: 20px 10px 30px 10px;
	}
	p.caption{
		font-size: 24px;
	}
	div.tags {
		font-size: 32px;
		margin: 10px 10px 30px 10px;
	}
	div.sharebutton{
		margin-right: 20px;
	}
	div.sharebutton img{
		width: 128px;
		height: 128px;
	}
}

@media only screen and (min-width: 1920px) {

	/* menus */
	.submenuitem {
		height: 160px;
		line-height: 160px;
	}
	.submenutext {
		font-size: 28px;
		line-height: 30px;
		max-height: 140px;
	}
	.mainmenuitem{
		height: 161px;
		line-height: 161px;
	}
	.mainmenutext{
		max-height: 140px;
		font-size: 100px;
		line-height: 100px;
	}
	.tagmenuitem{
		height: 161px;
		line-height: 161px;
	}
	.tagmenutext{
		max-height: 140px;
		font-size: 60px;
		line-height: 60px;
	}
	
	/* entries */
	div.entrypreview {
		width: 16.66%;
	}
	div.entrydate{
		font-size: 32px;
	}
	div.entrybody{
		font-size: 48px;
	}
	div.entrybody p{
		margin: 40px 10px 50px 10px;
	}
	p.caption{
		font-size: 32px;
	}
	div.tags {
		font-size: 48px;
		margin: 10px 10px 50px 10px;
	}
	div.sharebutton{
		margin-right: 40px;
	}
	div.sharebutton img{
		width: 128px;
		height: 128px;
	}
}