.slide{
  animation: fadeInAnimation 2s;
  -webkit-animation: fadeInAnimation 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#slide1{
  background-image: url('../_images/about_1_590.jpg');
}
@media only screen and (min-width: 590px){
  #slide1{background-image:url('../_images/about_1_900.jpg');}
}

@media only screen and (min-width: 900px){
  #slide1{background-image:url('../_images/about_1_1210.jpg');}
}

@media only screen and (min-width: 1210px){
  #slide1{background-image:url('../_images/about_1_1520.jpg');}
}
