RewriteEngine on
RewriteRule ^about$ /about.php [L]
RewriteRule ^contact$ /contact.php [L]
RewriteRule ^blog/([a-z0-9\-]+)$ /blog/index.php?link=$1 [L]
RewriteRule ^blog/tag/([a-z0-9\-]+)$ /blog/index.php?tag=$1 [L]
RewriteRule ^item/([a-z0-9\-]+)$ /item.php?name=$1 [L]
